@import "blocks/menu.scss";
@import "blocks/form.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'PT Sans Narrow';
}

.page{
  background-color: #171e26;
  color: #ffffff;
}
